.profile {
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: -5px;
}

.profile-item {
    margin: 6px;
    padding: 6px;
    font-size: 20px;
    color: rgba(91, 192, 222, 0.75);
    border: 2px solid rgba(91, 192, 222, 0.75);
    border-radius: 20px;
}