{% extends "network/layout.html" %}
<!-- {% load static %} -->

<!-- {% block script %}<script src="{% static 'network/script.js' %}"></script>{% endblock %} -->

{% block body %}
<div class="container">
    <h2 >All Posts</h2>

    <div class="row row-cols-1 row-cols-md-1 g-4">
        {% if request.user.is_authenticated %}
                <div class="col mb-4"><div class="card">
                    <div class="card-header"><h5>New Post</h5></div>
                    <div class="card-body">
                        <form action="{% url 'post' %}" method="post">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="form-group">{{ field }}</div>
                            {% endfor %}
                            <div class="text-right"><button type="submit" class="btn btn-primary">Post</button></div>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}

        {% for post in posts %}
            <div class="col mb-4"><div id="postId_{{ post.id }}" class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <div class="text-start"><a href="{% url 'profile' username=post.poster.username %}"><h5>{{ post.poster }}</h5></a></div>
                        <div class="text-end">{{ post.timestamp }}</div>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ post.content }}</p>
                    <hr/>
                    <div class="d-flex justify-content-between">
                        <div class="text-left">
                            Like
                            <br/>
                            <a id="comment_postId_{{ post.id }}" class="comment_link" href="">Comment</a><!-- The "id" attribute must not contain whitespaces. -->
                        </div>
                        {% if post.poster == request.user %}
                            <div class="text-right"><button class="btn btn-sm btn-outline-primary">Edit</button></div>
                        {% endif %}
                    </div>
                </div>
                <div class="card-footer comment postId_{{ post.id }}" style="display: none;"></div>
            </div></div>
        {% endfor %}
    </div>
</div>
{% endblock %}