{% extends "auctions/layout.html" %}

{% block title %}Auctions - {{ title }}{% endblock %}

{% block body %}
<h2 class="text-center title">{{ category_name }}</h2>

<form class="text-center" action="{% url 'category' %}">
    <select name="category_name">
            <option disabled selected>Select Category</option>
            {% for category in categories %}
                <option value="{{ category.name }}">{{ category.name }}</option>
            {% endfor %}
            <option value="others">Others</option>
    </select>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<br>

<div class="container">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for listing in listings %} {% if listing.active %} 
            <div class="col mb-4">
                <div class="card h-100">
                    <a href="{% url 'listing' listing_id=listing.id %}" class="text-decoration-none">
                        <img src="{{ listing.img }}" class="img-fluid">
                        <div class="card-body">
                            <h5 class="card-title text-truncate">{{ listing.name }}</h5>
                            <p class="card-text text-truncate">{{ listing.description }}</p>
                            <p class="card-text"><strong>$ {{ listing.current_price }}</strong></p> <!-- Note that the template cannot parse the parenthesis "()", so we use ".current_price" instead of ".current_price()" -->
                            {% if not listing.seller == request.user %}
                                <form action="{% url 'watchlist' %}" method="post">
                                    {% csrf_token %}
                                    <button name="watch_id" value="{{ listing.id }}" class="btn btn-success">Add to Wtchlist</button>
                                </form>
                            {% endif %}
                        </div>
                    </a>    
                </div>
            </div>
        {% endif %} {% endfor %}
    </div>
</div>
{% endblock %}