{% extends "auctions/layout.html" %}

{% block title %}Auctions - Watchlist{% endblock %}

{% block body %}
<h2 class="text-center title">Watchlist</h2>

<div class="container">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for listing in listings %} {% if listing.active %} 
            <div class="col mb-4">
                <div class="card h-100">
                    <a href="{% url 'listing' listing_id=listing.id %}" class="text-decoration-none">
                        <img src="{{ listing.img }}" class="img-fluid">
                        <div class="card-body">
                            <h5 class="card-title text-truncate">{{ listing.name }}</h5>
                            <p class="card-text text-truncate">{{ listing.description }}</p>
                            <p class="card-text">$ {{ listing.starting_price }}</p>
                            <form action="{% url 'watchlist' %}" method="post">
                                {% csrf_token %}
                                <button name="discard_id" value="{{ listing.id }}" class="btn btn-success">Discard</button>
                            </form>
                        </div>
                    </a>    
                </div>
            </div>
    
        {% endif %} {% endfor %}
    </div>
</div>

<div class="text-center">
    <a href="{% url 'index' %}" class="btn btn-primary">Back to All Listings</a>
</div>
{% endblock %}