<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Single Page</title>
        <style>
        </style>
        <script>
            /* One disadvantage of the "singlepage1" project is that the URL is less informative,
               because the URL remains the same even when we switch from section to section.
               We can solve this problem using the JS History API.
               This API allows us to push information to our browser history and update the URL manually. */

            /* The "popstate" (or "window.onpopstate") event is fired automatically by the browser when a user navigates 
               between history states that a developer has set. 
               This event is important to handle when you push to history object and then later retrieve information 
               whenever the user presses the back/forward button of the browser.
               "window.onpopstate" can specify what we should do when the user clicks the back/forward arrow button. 
               In this case, we want to show the previous "/section<number>" (the page I visited previously) 
               when the back arrow button is pressed. */
            window.onpopstate = function(event) { // When back arrow button on the browser is clicked, show the previous "/section<number>".
                console.log(event.state.sect); // The ".state" read-only property of the "popstate" event represents the state stored when the event was created (or "popstate" is fired).
                                               // ".sect" corresponds to "sect" inside of "history.pushState" which we will see in the following.
                showSection(event.state.sect); // "event.state" is an object containing a copy of the history entries.
            }

            function showSection(section) {
                fetch(`/sections/${section}`)
                .then(response => response.text())
                .then(text => {
                    console.log(text);
                    document.querySelector('#content').innerHTML = text;
                });
            }

            document.addEventListener('DOMContentLoaded', function() {
                document.querySelectorAll('button').forEach(button => {
                    button.onclick = function() {
                        const section = this.dataset.section;

                        /* "history.pushState" adds a new element to our browsing history based on three arguments:
                           1. Any data associated with the state. Here we're storing a JS object representing 
                              what section number is being represented. Here"sect" corresponds to "event.state.sect" above.
                           2. This parameter exists for historical reasons, and cannot be omitted; 
                              passing an empty string "" is safe against future changes to the method.
                           3. What should be displayed in the URL. Here is something like section followed by the section number, 
                              for example /section1 or /section2 or /section3, 
                              and those will appear in the URL bar when I click on a different page.  */
                        history.pushState({sect: section}, '', `section${section}`); // Add the current state to the history.
                        showSection(section);
                    };
                });
            });
        </script>
    </head>
    <body>
        <h1>Hello!</h1>
        <button data-section="1">Section 1</button>
        <button data-section="2">Section 2</button>
        <button data-section="3">Section 3</button>
        <div id="content">
        </div>
    </body>
</html>