<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hello</title>
    </head>
    <body>
        <!-- Add Django single-line comments like this: {# This is the comment. #} -->
        <!-- Add Django multi-line comments like this: 
             {% comment "You can comment out this block code and put the comment here" %} 
                ... 
             {% endcomment %} -->
        <!-- Note that you cannot put comments inside of comments. -->
        <h1>Hello, {{ name }}!</h1>  <!-- Render variables by putting them inside {# {{ }} #} like Jinja. -->
    </body>
</html>