{% extends "tasks/layout.html" %}

{% block body %}
    <h1>Add Task:</h1>
    <form action="{% url 'tasks:add' %}" method="post">
        <!-- Here the method of this form is "post", this means the form data is sensitive.
              -->
        <!-- If we inspect this page's source code, we'll notice that a new input field has been added.
             and this input whose type is hidden, meaning we won't be able to see it normally, whose name is CSRF middleware token.
             
            -->
        {% csrf_token %}
        <input type="text" name="task">
        <input type="submit">
    </form>
    <a href="{% url 'tasks:index' %}">View Tasks</a>
{% endblock %}